<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../static/styles/about.css">
    <link rel="icon" type="image/x-icon" class="imgg" href="/static/images/audio.jpg" style="border-radius: 50%;"/>
    <head>
      </head>
        <body>
            <div class="card">
                <section class="about-section container-fluid">
                    <h1 style="text-align: center; margin: auto; margin-bottom: 30px; margin-left: 5rem;">About Us</h1>
                    <p>We are a diverse team passionate about bridging language barriers.</p>
                    <p>Our website offers the following features:</p>
                    <ul>
                        <li>Translation to multiple languages</li>
                        <li>Text-to-speech functionality</li>
                        <li>Speech-to-text conversion</li>
                        <li>Communication assistance for friends speaking different languages</li>
                        <li>Go Back To <a href="/home"> Home Page </a>And Discover More</li>
                    </ul>
                </section>
            </div>
      
          <!-- Footer -->
          <footer>
              <p>&copy; 2024 Comune-IO . All rights reserved.</p>
          </footer>

    </body>

</html>