{% extends 'basic.html' %}
{% block body %}
        <div class="alert alert-success" id="demo" style="height: auto; width: 20rem; margin-left: 580px; margin-top: 40px;">
                Hello,{% if email %} {{email}} {% else %} there! {% endif %}<br />
        </div>
        <div class="card textbox">
            <div>
            <h1>Text To Audio Converter</h1>
            <p>Write input text in the below box.</p>
            <form action="/convert" class="my-3" method="post">
                <textarea id="box" class="my-3" name="data" placeholder="Enter Your Input"></textarea><br/>
                <input class="btn btn-outline-dark" type="submit" value="Convert" id="sb"/>
            </form>
            </div>
            <div style="border: 1px solid black; border-radius: 50%; padding: 5px; box-shadow: -5px 7px #969696;">
                <img src="/static/images/txtsp.jpeg"  alt="text to speech processing" height="auto" width="150px" style="border: 1px solid black; border-radius: 50%;"  /><br>
            </div>
        </div>
        
        <script>
            const myElement = document.getElementById("demo");
            myElement.setTimeout(function() {window.location.href = "/home";}, 5000);
        </script>
{% endblock body %}